In [31]:
#importing the xarray library in python for data processing
import xarray as xr

In [34]:
#importing and opening the dataset
dataDIR = "/Volumes/CHOTU DRIVE/daymet_v3_tmax_2010_na.nc"
DS = xr.open_dataset(dataDIR)

DATA INSPECTION USING "DS.var" "DS.dims" "DS.attrs" "DS.coords"

In [35]:
DS.var

<bound method ImplementsDatasetReduce._reduce_method.<locals>.wrapped_func of <xarray.Dataset>
Dimensions:                  (nv: 2, time: 365, x: 7814, y: 8075)
Coordinates:
  * x                        (x) float32 -4560250.0 -4559250.0 ... 3252750.0
  * y                        (y) float32 4984000.0 4983000.0 ... -3090000.0
    lat                      (y, x) float32 ...
    lon                      (y, x) float32 ...
  * time                     (time) datetime64[ns] 2010-01-01T12:00:00 ... 2010-12-31T12:00:00
Dimensions without coordinates: nv
Data variables:
    yearday                  (time) int16 ...
    time_bnds                (time, nv) datetime64[ns] ...
    lambert_conformal_conic  int16 ...
    tmax                     (time, y, x) float32 ...
Attributes:
    start_year:        2010
    source:            Daymet Software Version 3.0
    Version_software:  Daymet Software Version 3.0
    Version_data:      Daymet Data Version 3.0
    Conventions:       CF-1.6
    citation:          Please see http://daymet.ornl.gov/ for current Daymet ...
    references:        Please see http://daymet.ornl.gov/ for current informa...>

In [37]:
#meta data of dataset
DS.attrs

OrderedDict([('start_year', 2010),
             ('source', 'Daymet Software Version 3.0'),
             ('Version_software', 'Daymet Software Version 3.0'),
             ('Version_data', 'Daymet Data Version 3.0'),
             ('Conventions', 'CF-1.6'),
             ('citation',
              'Please see http://daymet.ornl.gov/ for current Daymet data citation information'),
             ('references',
              'Please see http://daymet.ornl.gov/ for current information on Daymet references')])

In [38]:
#dimensions of the dataset
DS.dims

Frozen(SortedKeysDict({'x': 7814, 'y': 8075, 'time': 365, 'nv': 2}))

In [39]:
#coordinates of the dataset
DS.coords

Coordinates:
  * x        (x) float32 -4560250.0 -4559250.0 ... 3251750.0 3252750.0
  * y        (y) float32 4984000.0 4983000.0 4982000.0 ... -3089000.0 -3090000.0
    lat      (y, x) float32 ...
    lon      (y, x) float32 ...
  * time     (time) datetime64[ns] 2010-01-01T12:00:00 ... 2010-12-31T12:00:00

In [41]:
DS.lat

<xarray.DataArray 'lat' (y: 8075, x: 7814)>
[63098050 values with dtype=float32]
Coordinates:
  * x        (x) float32 -4560250.0 -4559250.0 ... 3251750.0 3252750.0
  * y        (y) float32 4984000.0 4983000.0 4982000.0 ... -3089000.0 -3090000.0
    lat      (y, x) float32 ...
    lon      (y, x) float32 ...
Attributes:
    units:          degrees_north
    long_name:      latitude coordinate
    standard_name:  latitude

In [40]:
DS.lon

<xarray.DataArray 'lon' (y: 8075, x: 7814)>
[63098050 values with dtype=float32]
Coordinates:
  * x        (x) float32 -4560250.0 -4559250.0 ... 3251750.0 3252750.0
  * y        (y) float32 4984000.0 4983000.0 4982000.0 ... -3089000.0 -3090000.0
    lat      (y, x) float32 ...
    lon      (y, x) float32 ...
Attributes:
    units:          degrees_east
    long_name:      longitude coordinate
    standard_name:  longitude

In [10]:
#Extracting data array for one day from the dataset by slicing the array 
da = DS.sel(time=slice('2010-01-01', '2010-01-01'))

In [42]:
#latitude in the sliced array
da.lat

<xarray.DataArray 'lat' (y: 8075, x: 7814)>
array([[58.527702, 58.536274, 58.54484 , ..., 69.09396 , 69.08651 , 69.07905 ],
       [58.52478 , 58.533348, 58.54192 , ..., 69.0904  , 69.08294 , 69.07548 ],
       [58.521854, 58.530426, 58.538994, ..., 69.08683 , 69.07937 , 69.071915],
       ...,
       [ 6.095551,  6.098907,  6.102262, ..., 10.021997, 10.019393, 10.016788],
       [ 6.088467,  6.091822,  6.095177, ..., 10.014288, 10.011684, 10.00908 ],
       [ 6.081384,  6.084738,  6.088092, ..., 10.006578, 10.003976, 10.001372]],
      dtype=float32)
Coordinates:
  * x        (x) float32 -4560250.0 -4559250.0 ... 3251750.0 3252750.0
  * y        (y) float32 4984000.0 4983000.0 4982000.0 ... -3089000.0 -3090000.0
    lat      (y, x) float32 58.527702 58.536274 58.54484 ... 10.003976 10.001372
    lon      (y, x) float32 156.37123 156.37682 ... -72.831505 -72.82372
Attributes:
    units:          degrees_north
    long_name:      latitude coordinate
    standard_name:  latitude

In [43]:
#longitude in the sliced array
da.lon

<xarray.DataArray 'lon' (y: 8075, x: 7814)>
array([[ 156.37123 ,  156.37682 ,  156.38242 , ...,   -6.172987,   -6.163004,
          -6.153027],
       [ 156.38762 ,  156.39322 ,  156.3988  , ...,   -6.193871,   -6.183884,
          -6.173902],
       [ 156.404   ,  156.4096  ,  156.41519 , ...,   -6.214749,   -6.204759,
          -6.194773],
       ...,
       [-136.90382 , -136.89676 , -136.88968 , ...,  -72.83402 ,  -72.82625 ,
         -72.818474],
       [-136.90048 , -136.8934  , -136.88632 , ...,  -72.836655,  -72.82887 ,
         -72.8211  ],
       [-136.89713 , -136.89005 , -136.88297 , ...,  -72.83928 ,  -72.831505,
         -72.82372 ]], dtype=float32)
Coordinates:
  * x        (x) float32 -4560250.0 -4559250.0 ... 3251750.0 3252750.0
  * y        (y) float32 4984000.0 4983000.0 4982000.0 ... -3089000.0 -3090000.0
    lat      (y, x) float32 58.527702 58.536274 58.54484 ... 10.003976 10.001372
    lon      (y, x) float32 156.37123 156.37682 ... -72.831505 -72.82372
Attributes:
    units:          degrees_east
    long_name:      longitude coordinate
    standard_name:  longitude

In [44]:
#max temperature in the sliced array
da.tmax

<xarray.DataArray 'tmax' (time: 1, y: 8075, x: 7814)>
array([[[nan, nan, ..., nan, nan],
        [nan, nan, ..., nan, nan],
        ...,
        [nan, nan, ..., nan, nan],
        [nan, nan, ..., nan, nan]]], dtype=float32)
Coordinates:
  * x        (x) float32 -4560250.0 -4559250.0 ... 3251750.0 3252750.0
  * y        (y) float32 4984000.0 4983000.0 4982000.0 ... -3089000.0 -3090000.0
    lat      (y, x) float32 58.527702 58.536274 58.54484 ... 10.003976 10.001372
    lon      (y, x) float32 156.37123 156.37682 ... -72.831505 -72.82372
  * time     (time) datetime64[ns] 2010-01-01T12:00:00
Attributes:
    long_name:     daily maximum temperature
    units:         degrees C
    grid_mapping:  lambert_conformal_conic
    cell_methods:  area: mean time: maximum

In [22]:
da.tmax.values.shape

(1, 8075, 7814)

In [45]:
#data variables in data array
da.data_vars

Data variables:
    yearday                  (time) int16 0
    time_bnds                (time, nv) datetime64[ns] 2010-01-01 2010-01-02
    lambert_conformal_conic  int16 -32767
    tmax                     (time, y, x) float32 nan nan nan ... nan nan nan

In [14]:
#converting the data array to dataframe
df = da.to_dataframe()

In [24]:
df.head(10)

                                                   lat         lon  yearday  \
nv time                x          y
0  2010-01-01 12:00:00 -4560250.0 4984000.0  58.527702  156.371231        0
                                  4983000.0  58.524780  156.387619        0
                                  4982000.0  58.521854  156.404007        0
                                  4981000.0  58.518929  156.420395        0
                                  4980000.0  58.516003  156.436768        0
                                  4979000.0  58.513073  156.453156        0
                                  4978000.0  58.510143  156.469528        0
                                  4977000.0  58.507210  156.485901        0
                                  4976000.0  58.504276  156.502274        0
                                  4975000.0  58.501339  156.518646        0

                                             time_bnds  \
nv time                x          y
0  2010-01-01 12:00:00 -4560250.0 4984000.0 2010-01-01
                                  4983000.0 2010-01-01
                                  4982000.0 2010-01-01
                                  4981000.0 2010-01-01
                                  4980000.0 2010-01-01
                                  4979000.0 2010-01-01
                                  4978000.0 2010-01-01
                                  4977000.0 2010-01-01
                                  4976000.0 2010-01-01
                                  4975000.0 2010-01-01

                                             lambert_conformal_conic  tmax
nv time                x          y
0  2010-01-01 12:00:00 -4560250.0 4984000.0                   -32767   NaN
                                  4983000.0                   -32767   NaN
                                  4982000.0                   -32767   NaN
                                  4981000.0                   -32767   NaN
                                  4980000.0                   -32767   NaN
                                  4979000.0                   -32767   NaN
                                  4978000.0                   -32767   NaN
                                  4977000.0                   -32767   NaN
                                  4976000.0                   -32767   NaN
                                  4975000.0                   -32767   NaN

In [16]:
df.describe

<bound method NDFrame.describe of                                                     lat         lon  yearday  \
nv time                x          y
0  2010-01-01 12:00:00 -4560250.0  4984000.0  58.527702  156.371231        0
                                   4983000.0  58.524780  156.387619        0
                                   4982000.0  58.521854  156.404007        0
                                   4981000.0  58.518929  156.420395        0
                                   4980000.0  58.516003  156.436768        0
                                   4979000.0  58.513073  156.453156        0
                                   4978000.0  58.510143  156.469528        0
                                   4977000.0  58.507210  156.485901        0
                                   4976000.0  58.504276  156.502274        0
                                   4975000.0  58.501339  156.518646        0
                                   4974000.0  58.498402  156.535004        0
                                   4973000.0  58.495461  156.551376        0
                                   4972000.0  58.492519  156.567734        0
                                   4971000.0  58.489578  156.584091        0
                                   4970000.0  58.486633  156.600449        0
                                   4969000.0  58.483688  156.616806        0
                                   4968000.0  58.480740  156.633163        0
                                   4967000.0  58.477791  156.649521        0
                                   4966000.0  58.474838  156.665863        0
                                   4965000.0  58.471886  156.682220        0
                                   4964000.0  58.468929  156.698563        0
                                   4963000.0  58.465973  156.714905        0
                                   4962000.0  58.463013  156.731247        0
                                   4961000.0  58.460052  156.747589        0
                                   4960000.0  58.457092  156.763916        0
                                   4959000.0  58.454128  156.780258        0
                                   4958000.0  58.451164  156.796585        0
                                   4957000.0  58.448196  156.812912        0
                                   4956000.0  58.445229  156.829239        0
                                   4955000.0  58.442257  156.845566        0
...                                                 ...         ...      ...
1  2010-01-01 12:00:00  3252750.0 -3061000.0  10.225092  -72.747337        0
                                  -3062000.0  10.217371  -72.749977        0
                                  -3063000.0  10.209651  -72.752617        0
                                  -3064000.0  10.201931  -72.755257        0
                                  -3065000.0  10.194212  -72.757896        0
                                  -3066000.0  10.186493  -72.760536        0
                                  -3067000.0  10.178774  -72.763176        0
                                  -3068000.0  10.171056  -72.765808        0
                                  -3069000.0  10.163339  -72.768448        0
                                  -3070000.0  10.155622  -72.771088        0
                                  -3071000.0  10.147904  -72.773720        0
                                  -3072000.0  10.140188  -72.776360        0
                                  -3073000.0  10.132472  -72.778992        0
                                  -3074000.0  10.124757  -72.781631        0
                                  -3075000.0  10.117042  -72.784264        0
                                  -3076000.0  10.109327  -72.786896        0
                                  -3077000.0  10.101613  -72.789536        0
                                  -3078000.0  10.093900  -72.792168        0
                                  -3079000.0  10.086186  -72.794800        0
                                  -3080000.0  10.078474  -72.797432        0
                                  -3081000.0  10.070762  -72.800064        0
                                  -3082000.0  10.063050  -72.802696        0
                                  -3083000.0  10.055339  -72.805321        0
                                  -3084000.0  10.047627  -72.807953        0
                                  -3085000.0  10.039917  -72.810585        0
                                  -3086000.0  10.032207  -72.813217        0
                                  -3087000.0  10.024498  -72.815842        0
                                  -3088000.0  10.016788  -72.818474        0
                                  -3089000.0  10.009080  -72.821098        0
                                  -3090000.0  10.001372  -72.823723        0

                                              time_bnds  \
nv time                x          y
0  2010-01-01 12:00:00 -4560250.0  4984000.0 2010-01-01
                                   4983000.0 2010-01-01
                                   4982000.0 2010-01-01
                                   4981000.0 2010-01-01
                                   4980000.0 2010-01-01
                                   4979000.0 2010-01-01
                                   4978000.0 2010-01-01
                                   4977000.0 2010-01-01
                                   4976000.0 2010-01-01
                                   4975000.0 2010-01-01
                                   4974000.0 2010-01-01
                                   4973000.0 2010-01-01
                                   4972000.0 2010-01-01
                                   4971000.0 2010-01-01
                                   4970000.0 2010-01-01
                                   4969000.0 2010-01-01
                                   4968000.0 2010-01-01
                                   4967000.0 2010-01-01
                                   4966000.0 2010-01-01
                                   4965000.0 2010-01-01
                                   4964000.0 2010-01-01
                                   4963000.0 2010-01-01
                                   4962000.0 2010-01-01
                                   4961000.0 2010-01-01
                                   4960000.0 2010-01-01
                                   4959000.0 2010-01-01
                                   4958000.0 2010-01-01
                                   4957000.0 2010-01-01
                                   4956000.0 2010-01-01
                                   4955000.0 2010-01-01
...                                                 ...
1  2010-01-01 12:00:00  3252750.0 -3061000.0 2010-01-02
                                  -3062000.0 2010-01-02
                                  -3063000.0 2010-01-02
                                  -3064000.0 2010-01-02
                                  -3065000.0 2010-01-02
                                  -3066000.0 2010-01-02
                                  -3067000.0 2010-01-02
                                  -3068000.0 2010-01-02
                                  -3069000.0 2010-01-02
                                  -3070000.0 2010-01-02
                                  -3071000.0 2010-01-02
                                  -3072000.0 2010-01-02
                                  -3073000.0 2010-01-02
                                  -3074000.0 2010-01-02
                                  -3075000.0 2010-01-02
                                  -3076000.0 2010-01-02
                                  -3077000.0 2010-01-02
                                  -3078000.0 2010-01-02
                                  -3079000.0 2010-01-02
                                  -3080000.0 2010-01-02
                                  -3081000.0 2010-01-02
                                  -3082000.0 2010-01-02
                                  -3083000.0 2010-01-02
                                  -3084000.0 2010-01-02
                                  -3085000.0 2010-01-02
                                  -3086000.0 2010-01-02
                                  -3087000.0 2010-01-02
                                  -3088000.0 2010-01-02
                                  -3089000.0 2010-01-02
                                  -3090000.0 2010-01-02

                                              lambert_conformal_conic  tmax
nv time                x          y
0  2010-01-01 12:00:00 -4560250.0  4984000.0                   -32767   NaN
                                   4983000.0                   -32767   NaN
                                   4982000.0                   -32767   NaN
                                   4981000.0                   -32767   NaN
                                   4980000.0                   -32767   NaN
                                   4979000.0                   -32767   NaN
                                   4978000.0                   -32767   NaN
                                   4977000.0                   -32767   NaN
                                   4976000.0                   -32767   NaN
                                   4975000.0                   -32767   NaN
                                   4974000.0                   -32767   NaN
                                   4973000.0                   -32767   NaN
                                   4972000.0                   -32767   NaN
                                   4971000.0                   -32767   NaN
                                   4970000.0                   -32767   NaN
                                   4969000.0                   -32767   NaN
                                   4968000.0                   -32767   NaN
                                   4967000.0                   -32767   NaN
                                   4966000.0                   -32767   NaN
                                   4965000.0                   -32767   NaN
                                   4964000.0                   -32767   NaN
                                   4963000.0                   -32767   NaN
                                   4962000.0                   -32767   NaN
                                   4961000.0                   -32767   NaN
                                   4960000.0                   -32767   NaN
                                   4959000.0                   -32767   NaN
                                   4958000.0                   -32767   NaN
                                   4957000.0                   -32767   NaN
                                   4956000.0                   -32767   NaN
                                   4955000.0                   -32767   NaN
...                                                               ...   ...
1  2010-01-01 12:00:00  3252750.0 -3061000.0                   -32767   NaN
                                  -3062000.0                   -32767   NaN
                                  -3063000.0                   -32767   NaN
                                  -3064000.0                   -32767   NaN
                                  -3065000.0                   -32767   NaN
                                  -3066000.0                   -32767   NaN
                                  -3067000.0                   -32767   NaN
                                  -3068000.0                   -32767   NaN
                                  -3069000.0                   -32767   NaN
                                  -3070000.0                   -32767   NaN
                                  -3071000.0                   -32767   NaN
                                  -3072000.0                   -32767   NaN
                                  -3073000.0                   -32767   NaN
                                  -3074000.0                   -32767   NaN
                                  -3075000.0                   -32767   NaN
                                  -3076000.0                   -32767   NaN
                                  -3077000.0                   -32767   NaN
                                  -3078000.0                   -32767   NaN
                                  -3079000.0                   -32767   NaN
                                  -3080000.0                   -32767   NaN
                                  -3081000.0                   -32767   NaN
                                  -3082000.0                   -32767   NaN
                                  -3083000.0                   -32767   NaN
                                  -3084000.0                   -32767   NaN
                                  -3085000.0                   -32767   NaN
                                  -3086000.0                   -32767   NaN
                                  -3087000.0                   -32767   NaN
                                  -3088000.0                   -32767   NaN
                                  -3089000.0                   -32767   NaN
                                  -3090000.0                   -32767   NaN

[126196100 rows x 6 columns]>

In [25]:
#saving the df to csv
df.head(100).to_csv('netcdf_first_100_records.csv')

#The csv file for the first 100 records has many null values.

In [26]:
#dropping the null values in the data frame
df_no_nulls = df.dropna()

In [29]:
#counting the number of nulls
df_no_nulls.count

<bound method DataFrame.count of                                                    lat         lon  yearday  \
nv time                x          y
0  2010-01-01 12:00:00 -4560250.0 3268000.0  51.216503 -179.134048        0
                                  3267000.0  51.211063 -179.121979        0
                       -4559250.0 3270000.0  51.234970 -179.149551        0
                                  3269000.0  51.229530 -179.137466        0
                                  3268000.0  51.224091 -179.125397        0
                                  3267000.0  51.218647 -179.113312        0
                                  3266000.0  51.213207 -179.101242        0
                       -4558250.0 3270000.0  51.242558 -179.140900        0
                                  3269000.0  51.237118 -179.128815        0
                                  3268000.0  51.231674 -179.116730        0
                                  3267000.0  51.226234 -179.104645        0
                       -4557250.0 3271000.0  51.255581 -179.144318        0
                                  3270000.0  51.250141 -179.132233        0
                                  3269000.0  51.244701 -179.120148        0
                                  3268000.0  51.239262 -179.108063        0
                                  3267000.0  51.233818 -179.095978        0
                                  3266000.0  51.228374 -179.083893        0
                       -4556250.0 3273000.0  51.274044 -179.159836        0
                                  3272000.0  51.268608 -179.147736        0
                                  3271000.0  51.263168 -179.135651        0
                                  3270000.0  51.257729 -179.123550        0
                                  3269000.0  51.252285 -179.111465        0
                                  3268000.0  51.246845 -179.099380        0
                                  3267000.0  51.241402 -179.087311        0
                                  3266000.0  51.235954 -179.075226        0
                       -4555250.0 3273000.0  51.281631 -179.151169        0
                                  3272000.0  51.276192 -179.139069        0
                                  3271000.0  51.270752 -179.126968        0
                                  3270000.0  51.265312 -179.114883        0
                                  3269000.0  51.259869 -179.102798        0
...                                                ...         ...      ...
1  2010-01-01 12:00:00  3250750.0 1382000.0  46.677448  -53.078064        0
                                  1381000.0  46.669483  -53.085361        0
                                  1380000.0  46.661514  -53.092655        0
                                  1379000.0  46.653545  -53.099949        0
                                  1378000.0  46.645573  -53.107239        0
                                  1377000.0  46.637604  -53.114529        0
                                  1376000.0  46.629635  -53.121819        0
                        3251750.0 1401000.0  46.823708  -52.927433        0
                                  1400000.0  46.815750  -52.934769        0
                                  1399000.0  46.807793  -52.942104        0
                                  1398000.0  46.799831  -52.949436        0
                                  1397000.0  46.791874  -52.956768        0
                                  1396000.0  46.783913  -52.964096        0
                                  1395000.0  46.775955  -52.971424        0
                                  1394000.0  46.767994  -52.978748        0
                                  1393000.0  46.760033  -52.986073        0
                                  1392000.0  46.752071  -52.993393        0
                                  1385000.0  46.696323  -53.044579        0
                                  1384000.0  46.688358  -53.051884        0
                                  1383000.0  46.680393  -53.059189        0
                                  1382000.0  46.672424  -53.066486        0
                                  1381000.0  46.664459  -53.073788        0
                                  1380000.0  46.656490  -53.081081        0
                                  1379000.0  46.648521  -53.088375        0
                                  1378000.0  46.640553  -53.095669        0
                                  1377000.0  46.632584  -53.102959        0
                        3252750.0 1397000.0  46.786839  -52.945183        0
                                  1396000.0  46.778881  -52.952511        0
                                  1394000.0  46.762962  -52.967163        0
                                  1381000.0  46.659435  -53.062214        0

                                             time_bnds  \
nv time                x          y
0  2010-01-01 12:00:00 -4560250.0 3268000.0 2010-01-01
                                  3267000.0 2010-01-01
                       -4559250.0 3270000.0 2010-01-01
                                  3269000.0 2010-01-01
                                  3268000.0 2010-01-01
                                  3267000.0 2010-01-01
                                  3266000.0 2010-01-01
                       -4558250.0 3270000.0 2010-01-01
                                  3269000.0 2010-01-01
                                  3268000.0 2010-01-01
                                  3267000.0 2010-01-01
                       -4557250.0 3271000.0 2010-01-01
                                  3270000.0 2010-01-01
                                  3269000.0 2010-01-01
                                  3268000.0 2010-01-01
                                  3267000.0 2010-01-01
                                  3266000.0 2010-01-01
                       -4556250.0 3273000.0 2010-01-01
                                  3272000.0 2010-01-01
                                  3271000.0 2010-01-01
                                  3270000.0 2010-01-01
                                  3269000.0 2010-01-01
                                  3268000.0 2010-01-01
                                  3267000.0 2010-01-01
                                  3266000.0 2010-01-01
                       -4555250.0 3273000.0 2010-01-01
                                  3272000.0 2010-01-01
                                  3271000.0 2010-01-01
                                  3270000.0 2010-01-01
                                  3269000.0 2010-01-01
...                                                ...
1  2010-01-01 12:00:00  3250750.0 1382000.0 2010-01-02
                                  1381000.0 2010-01-02
                                  1380000.0 2010-01-02
                                  1379000.0 2010-01-02
                                  1378000.0 2010-01-02
                                  1377000.0 2010-01-02
                                  1376000.0 2010-01-02
                        3251750.0 1401000.0 2010-01-02
                                  1400000.0 2010-01-02
                                  1399000.0 2010-01-02
                                  1398000.0 2010-01-02
                                  1397000.0 2010-01-02
                                  1396000.0 2010-01-02
                                  1395000.0 2010-01-02
                                  1394000.0 2010-01-02
                                  1393000.0 2010-01-02
                                  1392000.0 2010-01-02
                                  1385000.0 2010-01-02
                                  1384000.0 2010-01-02
                                  1383000.0 2010-01-02
                                  1382000.0 2010-01-02
                                  1381000.0 2010-01-02
                                  1380000.0 2010-01-02
                                  1379000.0 2010-01-02
                                  1378000.0 2010-01-02
                                  1377000.0 2010-01-02
                        3252750.0 1397000.0 2010-01-02
                                  1396000.0 2010-01-02
                                  1394000.0 2010-01-02
                                  1381000.0 2010-01-02

                                             lambert_conformal_conic  tmax
nv time                x          y
0  2010-01-01 12:00:00 -4560250.0 3268000.0                   -32767  12.0
                                  3267000.0                   -32767  12.0
                       -4559250.0 3270000.0                   -32767  12.0
                                  3269000.0                   -32767  12.0
                                  3268000.0                   -32767  12.0
                                  3267000.0                   -32767  12.0
                                  3266000.0                   -32767  12.0
                       -4558250.0 3270000.0                   -32767  12.0
                                  3269000.0                   -32767  12.0
                                  3268000.0                   -32767  12.5
                                  3267000.0                   -32767  12.0
                       -4557250.0 3271000.0                   -32767  12.0
                                  3270000.0                   -32767  12.0
                                  3269000.0                   -32767  12.5
                                  3268000.0                   -32767  12.5
                                  3267000.0                   -32767  12.0
                                  3266000.0                   -32767  12.0
                       -4556250.0 3273000.0                   -32767  12.0
                                  3272000.0                   -32767  12.0
                                  3271000.0                   -32767  12.0
                                  3270000.0                   -32767  12.5
                                  3269000.0                   -32767  12.5
                                  3268000.0                   -32767  12.5
                                  3267000.0                   -32767  12.0
                                  3266000.0                   -32767  12.0
                       -4555250.0 3273000.0                   -32767  12.0
                                  3272000.0                   -32767  12.5
                                  3271000.0                   -32767  12.5
                                  3270000.0                   -32767  12.5
                                  3269000.0                   -32767  12.5
...                                                              ...   ...
1  2010-01-01 12:00:00  3250750.0 1382000.0                   -32767   4.0
                                  1381000.0                   -32767   4.0
                                  1380000.0                   -32767   4.0
                                  1379000.0                   -32767   4.0
                                  1378000.0                   -32767   4.0
                                  1377000.0                   -32767   4.0
                                  1376000.0                   -32767   4.0
                        3251750.0 1401000.0                   -32767   4.0
                                  1400000.0                   -32767   4.0
                                  1399000.0                   -32767   4.0
                                  1398000.0                   -32767   4.0
                                  1397000.0                   -32767   3.5
                                  1396000.0                   -32767   4.0
                                  1395000.0                   -32767   4.0
                                  1394000.0                   -32767   4.0
                                  1393000.0                   -32767   4.0
                                  1392000.0                   -32767   4.0
                                  1385000.0                   -32767   4.0
                                  1384000.0                   -32767   4.0
                                  1383000.0                   -32767   4.0
                                  1382000.0                   -32767   4.0
                                  1381000.0                   -32767   4.0
                                  1380000.0                   -32767   4.0
                                  1379000.0                   -32767   4.0
                                  1378000.0                   -32767   4.0
                                  1377000.0                   -32767   4.0
                        3252750.0 1397000.0                   -32767   4.5
                                  1396000.0                   -32767   4.0
                                  1394000.0                   -32767   4.5
                                  1381000.0                   -32767   4.0

[43106664 rows x 6 columns]>

In [30]:
#saving first 100 records of the data frame without null values
df_no_nulls.head(100).to_csv('netcdf_first_100_records.csv')